<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柳州联通网优内部工具平台</title>
    <link type="text/css" rel="stylesheet" href="basic.css">
</head>
<body>
    <div id="title">
        <h3>柳州联通网优内部工具平台</h3>
        <hr>
        <a href="http://www.10010.com/net5/059/" target="_blank" >
            <img height="100" width="120" src="../app01/images/logo01.png" alt="联通5G标识" title="联通5G官网">
        </a>
    </div>
    <br>
    <div id="header">
        web前端之CSS
    </div>
    <p class="class01">
        python后端课程
    </p>
    <br>
    <div class="class01">
        python web开发框架Django
    </div>
    <br>
    <div class="class02">
        <a href="https://www.youku.com" target="_blank">优酷网</a>
        <a href="https://www.ifeng.com" target="_blank">凤凰网</a>
        <a href="http://www.mtime.com" target="_blank">时光网</a>
    </div>
</body>
</html>